.tank {
	
}

.tank .temp.notReading tspan {
	fill: #f00;
}

.heatElement {
	cursor: pointer;
}

.heatElement.on  .element {
	fill: #f00;
}

.heatElement.off  .element {
	fill: none;
}

.pump.on  .pumpBody {
	fill: #0f0;
}

.pump.off  .pumpBody {
	fill: #f00;
}

.pump.on  .onoff {
	fill: none;
}

.pump.off  .onoff {
	fill: #000;
}

.step {
	display: inline-block;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px;
}

.step .stepName {
	display: inline-block;
	min-width: 10em;
}

.step .stepTime {
	display: inline-block;
	min-width: 5em;
}

.step .stepDelete {
	cursor: pointer;
}

.numberEdit {
	width: 200px;
	position: relative;
}

.numberEditIncrement{
	margin-right: 75px;	
	padding: 7px;
}


.quickSelect {
	position: absolute;
	top:0px;
	right:0px;
}


button.quickClick {
	width: 75px;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
}

.mode {
	display: inline-block;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px;
}

button {
	font-weight: bold;
	border-radius: 2px;
	padding: 3px;
	border: 1px solid #fff;
	background-color: white;
	color: black;
}

button:hover {
	border: 1px solid #88f;
}

button:active {
	border: 1px solid #88f;
	background-color: #88f;
	color: white;
}

button.down {
	border: 1px solid #88f;
	background-color: #88f;
	color: white;
}

.glass {
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	opacity: 0.2;
	background-color: #000;
}

.popup {
	position: absolute;
	border: 1px solid black;
	border-radius: 2px;
	background-color: #fff;
	padding: 3px;
}

.popup .content {
	
}