[Unit]
Description=BrewCtrl

[Service]
ExecStart=/opt/BrewCtrl/RaspberryPi/brewctrl
WorkingDirectory=/opt/BrewCtrl/RaspberryPi


[Install]
WantedBy=multi-user.target
