<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/brewctrl.css" />

<script src="js/jquery.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone-min.js"></script>

<script type="text/template" id="steplist-template">
    	<button class="btn btn-default "><b><%= name %></b></button>
 </script>


<script type="text/template" id="step-template">
    <div class="step select">
    	<span class="stepName" contenteditable="true"><%= name %></span>
    	<span class="stepTime"><%= BrewCtrl.formatTime(stepTime) %></span>
    	<span class="stepDelete">&#x2297;</span>
      </div>
  </script>





<script type="text/template" id="config-upload-template">
<div class="panel panel-default config-upload">
	<div class="panel-title">
	      <label for="configurationToUpload">Select a Configuration File to Upload</label><br />
	</div>
	<div class="panel-body">
		<div class="row">
			<form id="config-upload-form" method="post" action="/cmd/configuration">
				<div class="col-md-4"><input type="file" name="configuration" id="configurationToUpload" /></div>
				<div class="col-md-4"><button  class="btn btn-default " type="button" id="uploadConfiguration" >Upload</button></div>
			</form>
		</div>
	</div>
</div>
</script>

<script type="text/template" id="sensor-template">
    <div class="sensor">
    	Name: <span contenteditable="true" class="name"/>  Location:  <select class="location"/>  Temp: <span class="temp"></span>
    </div>
  </script>


<script type="text/template" id="mode-template">
    <div class="mode">
       	<button id="modeOn" class="btn btn-default  <%= mode=="ON"? "down":"up" %>">On</button>
		<button id="modeHold" class="btn btn-default <%= mode=="HOLD"? "down":"up" %>">Hold</button>
		<button id="modeHeatOff" class="btn btn-default <%= mode=="HEAT_OFF"? "down":"up" %>">Heat Off</button>
		<button id="modeOff" class="btn btn-default <%= mode=="OFF"? "down":"up" %>">Off</button>
      </div>
  </script>


<script type="text/template" id="duty-template">
    <div class="numberEdit">
  <div class="numberEditIncrement">

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   class="tank"
   width="120.29716"
   height="154.28125"
   id="svg2"
   version="1.1" >
    <g
     id="g2985">
    <text
       xml:space="preserve"
       style="font-size:43.14793015px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:middle;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans;-inkscape-font-specification:Sans"
       x="59.116882"
       y="89.545815"
       id="text3001"      ><tspan
         y="89.545815"
         x="59.116882"
         id="textValue"
        >100%</tspan></text>
    <path
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.34837282px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 61.622007,2.8866864 9.0592677,45.924629 l 105.1254723,0 z"
       id="upOne"
        />
    <path
       style="fill:#000000;fill-opacity:1;stroke:#000000;stroke-width:1.34837282px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 61.622007,151.40286 -52.5627393,-43.03795 105.1254623,0 z"
       id="downOne" />
  </g>
</svg>


  </div>
      <div class="quickSelect">
      	<%
if(quickClickValues){
	for(key in quickClickValues){
		var quickClick = quickClickValues[key];
%>
       	<button  id="<%=quickClick.id%>" class="quickClick"><%=quickClick.text%></button><br/>

<%
	}
}
%>
      </div>
        </div>

  </script>

<script type="text/template" id="popup-template">

    	<div class="glass"></div>

    	<div class="popup">

       	 <div class="content"> </div>

        </div>
  </script>
<script type="text/template" id="popup-status-loading">

    	<div class="statusLoading">

    Loading Status ....

        </div>
  </script>


<script src="main.js"></script>
<script src="step.js"></script>
<script src="tank.js"></script>


</head>

<body>


	<div class="container-fluid">

		<div id="brewctrl-main">

			<div class="row">
				<div id="brewctrl-mode"></div>
			</div>
			<div class="row">
				<div id="brewctrl-tanks"></div>
			</div>
			<div class="row">
				<div id="brewctrl-pumps"></div>
			</div>
			<div class="row">



				<div id="brewctrl-steps"></div>
				<button class="btn btn-default " id="brewctrl-add-step">Add New Step</button>
			</div>
			<div class="row">

				<label> Step Lists </label>
				<div id="brewctrl-steplists"></div>
			</div>
			<div class="row">
				<div id="brewctrl-config-upload"></div>
			</div>
			<div class="row">
				<div id="brewctrl-sensors"></div>

			</div>
		</div>
	</div>
</body>
</html>
